/* css variabels */
:root{
    --nf-red:  rgb(229,9,20);
    --nf-re-hover: rgb(193,17,25);
    --text-color: #fff;
    --primary-font:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    --input-border-color: rgba(128, 128, 128, 0.7);
    --input-backgraund-color:  rgba(22,22,22,0.7);
    --footer-text-color: rgba(255, 255, 255, 0.7);
    /* font sizes for pc */
    --title-pc-fz: 3rem;
    --title-font-weith: 900;
    --subtitle-pc-fz: 1.5rem;
    --subtitle-fw: 400;
    --text-pc-fz: 1.24rem;
    --text-fw: 400;
    /* font sizing for mobile (mb)*/
    --title-mb-fz: 2rem;
    --title-mb-fw: 700;
    --subtitle-mb-fz: 1.125rem;
    --text-mb-fz: 1.125rem;
    --hero-shadow:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);

}
/* universal styling for all page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
    color: #ffffff;
}
body{
    background-color: rgb(0, 0, 0);
}
.nf-hero .nav-nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: rgb(129, 121, 121);
    color: black;
    height: 50px;
    text-decoration: none;
}
.btn-btn{
    width: 80px;
    height: 30px;
    background-color: var(--nf-red);
    border-radius: 20px;
}
.nf-hero .nav-nav a{
    align-items: center;
    text-decoration: none;
    background-color: lightgrey;
    
}
.nf-hero{
    background-image: url(../assets/images/icons/heroCM.jpg);
    background-size: cover;
    background-position: center;background-repeat: no-repeat;
    height: 100vh;
}
.nf-hero>div{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-image: var(--hero-shadow);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Nav start */
.nf-logo{
    fill: var(--nf-red);
    width: 160px;
    height: 60px;

}
.btn{
    cursor: pointer;
    background-color: var(--nf-red);
    border: 1px solid var(--nf-red);
 }
.btn:hover{
    background-color: var(--nf-red);
    border: 1px solid var(--nf-red);
}
.nf-hero-signin{
    text-decoration: none;
    text-transform: capitalize;
    padding: .5rem 1.2rem;
    border-radius: 5px;
}
.nf-hero-nav{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}
/* Nav End */
.nf-hero-main{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 15px;
    
}
/* Hero Sectin */

.nf-hero-main-title{
    font-size: var(--title-pc-fz);
    font-weight: var(--title-font-weith);
    color: #fff;
}
.nf-hero-main-subtitle{
    font-size: var(--subtitle-pc-fz);
    font-weight: var(--subtitle-fw);
    color: #fff;
}
.nf-hero-main-text{
    font-size: var(--text-pc-fz);
    font-weight: var(--text-fw);
    color: #fff;
}
.nf-hero-main-form{
    display: flex;
    flex-flow: row wrap;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 60%;
}
.nf-hero-main-form-input{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--niput-border-color);
    background-color: var(--input-backgraund-color);
    flex: .6;
    outline: none;
    color: #fff;

}
.nf-hero-main-form-btn{
    display: flex;
    font-size: var(--subtitle-pc-fz);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    padding: .65rem;
    white-space: nowrap;
    width: 25%;
    min-width: 10rem;
}
/* hero section end */
.section-two{
    border-top: 7px solid gold;
   
}
.section-two .div-mm{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
    margin: 20px 20px;
    

}
.section-two .div-mm .div-d{
    font-size: var(--text-pc-fz);
    font-weight: var(--text-fw);
}
.div-dd{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
}
.div-dd img{
    z-index: 1;
}
.diveo-dd{
   
   margin-top: -10px;
    position: absolute;
    
    
}
.div-d h1{
    font-size: var(--title-pc-fz);
}
.section-boy .dive-dad{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    gap: 50px;
    margin: 20px 20px;
    height: 100vh;
}
.section-boy{
    border-top: 7px solid gold;
}
.section-boy .dive-dad .div-text{
    font-size: var(--text-pc-fz);
    font-weight: var(--text-fw);
}
.div-text h1{
    font-size: var(--title-pc-fz);
}
.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
}
.div-img img{
    z-index: 1;
}
.vid{
    position: absolute;
    margin-top: -150px;
    width: 400px;
}
.section-3 .div-gg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    gap: 50px;
    margin: 20px 20px;
    height: 100vh;
}
.section-3{
    border-top: 7px solid gold;
}
.div-gg .dive-texx h1{
    font-size: var(--title-pc-fz);
}
.section-3 .div-gg .dive-texx{
    font-size: var(--text-pc-fz);
    font-weight: var(--text-fw);
}
.sect-set{
    border-top: 7px solid gold;
}
.sect-set .baby{
    display: flex;
    
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 20px;
    height: 100vh;
}
.baby h1{
    font-size: var(--title-pc-fz);
}
.sect-sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    /* height: 100vh; */
    border-top: 7px solid gold;
}
.vga{
    width: 20px;
    fill: #fff;
}
.sect-set .g-text{
    font-size: var(--subtitle-pc-fz);
}
.ppr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 900px;
    margin: 10px;
    padding: 10px;
}
details{
    background-color: gray;
}
details>p{
    padding: 40px;
    border-top: 2px solid rgb(0, 0, 0);
}
summary{
    list-style-type: none;
    /* border-bottom: 2px solid black; */
}
.we{
    text-align: center;
    padding-bottom: 40px;
    font-size: var(--title-pc-fz);
}
.wee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bob{
    width: 900px;
}
.section-mama{
    border-top: 7px solid gold;
    padding: 40px 40px;

}
.jyt{
    width: 80%;
    margin: auto;
}
.c22{
    /* margin: 0px 80px; */
    column-gap: 20px;
}
.div-thg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    

}
.div-thg .div-mam{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}
.div-ma{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.div-ggh{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.languedge{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-backgraund-color);
    width: fit-content;
    margin-bottom: 1rem;
}
.Ctry{
    background: transparent;
    border: none;
   
    
}